player-connection-mode=Listen
player-connection-guid=2784986213
player-connection-debug=0
player-connection-project-name=KevinARProject
player-connection-ip=192.168.56.1
player-connection-ip=169.254.149.74
player-connection-ip=169.254.74.51
player-connection-ip=192.168.5.9
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=1e5796495a9441e8b3cc0fcae6d18907
