player-connection-mode=Listen
player-connection-guid=2195420375
player-connection-debug=0
player-connection-project-name=KevinARProject
player-connection-ip=192.168.56.1
player-connection-ip=169.254.149.74
player-connection-ip=169.254.74.51
player-connection-ip=192.168.5.4
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=8a85ce421fc5464f93074bf2d9f6143c
